.login{
    margin-top: 10%;
    text-align: center;
    
}
.pass{
    text-align: center;
    padding: 10px;
}
.sub{
    text-align: center;
  margin-top: 10px;
 
  font-size: large;
  font:bold;
    
    
}
.sub:hover{
    color: blue
}
body{
    background-color: blue;
    background-image: url(ok7.jpg);
    background-position: center;
}

 